SystemeBancaireWSClient/src/wsdl/localhost_8080/SystemeBancaireWS/SystemeBancaireWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p1 (PAYARA-3387-9851016; 2019-02-26T15:45:41+0000) JAXWS-RI/2.3.2.payara-p1 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://bean/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://bean/">

<xs:element name="verifpaiement" type="tns:verifpaiement"/>

<xs:element name="verifpaiementResponse" type="tns:verifpaiementResponse"/>

<xs:complexType name="verifpaiement">
<xs:sequence>
<xs:element name="nomproprio" type="xs:string" minOccurs="0"/>
<xs:element name="prenomproprio" type="xs:string" minOccurs="0"/>
<xs:element name="cardNumber" type="xs:string" minOccurs="0"/>
<xs:element name="cardDate" type="xs:string" minOccurs="0"/>
<xs:element name="cardCrypto" type="xs:string" minOccurs="0"/>
<xs:element name="prix" type="xs:float" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="verifpaiementResponse">
<xs:sequence>
<xs:element name="return" type="tns:systemeBancaire" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="systemeBancaire">
<xs:sequence>
<xs:element name="cardCrypto" type="xs:string" minOccurs="0"/>
<xs:element name="cardDate" type="xs:string" minOccurs="0"/>
<xs:element name="cardNumber" type="xs:string" minOccurs="0"/>
<xs:element name="nomproprio" type="xs:string" minOccurs="0"/>
<xs:element name="prenomproprio" type="xs:string" minOccurs="0"/>
<xs:element name="solde" type="xs:float" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>